<p-toast position="top-right"></p-toast>
<div class="expense-form-container">
    
  
    <form (ngSubmit)="onSubmit()" #expenseForm="ngForm">
      <div class="p-fluid">
        <!-- Title Input -->
        <div class="p-field">
            <p-floatlabel variant="on">
          <label for="title">Title</label>
          <input 
          id="title" 
          type="text" 
          pInputText [(ngModel)]="expense.title" 
          placeholder=" " 
          name="title" 
          pSize="large"  
          required
           />
        </p-floatlabel>
        </div>
        <!-- Amount Input -->
        <div class="p-field">
        <p-floatlabel variant="on">
          <label for="amount">Amount</label>
          <input 
          id="amount" 
          type="number" 
          pInputText [(ngModel)]="expense.amount" 
          name="amount" 
          pSize="large"   
          required />
        </p-floatlabel>
        </div>
  
        <!-- Category Dropdown -->
        <div class="p-field">
          <label for="category"></label>
          <p-dropdown 
            [options]="categoryOptions" 
            [(ngModel)]="expense.category"
            name="category"
            placeholder="Select a category" required>
          </p-dropdown>
        </div>
  
        <!-- Date Input -->
        <div class="p-field">
          <label for="date"></label>
          <input 
          type="date" 
          id="date" 
          [(ngModel)]="expense.date" 
          name="date" 
          class="p-inputtext p-component" 
          pSize="large"   required />
        </div>
      </div>
  
      <!-- Form Buttons -->
      <div class="p-dialog-footer">
        <button pButton type="submit" label="Save Expense" class="p-button-primary" ></button>
        <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="closeDialog()"></button>
      </div>
    </form>
  </div>
  