/* Increase Table Size */
.custom-table {
    width: 90% !important;
    height: 400px !important;
    margin: auto;
  }
  
  /* Style Action Icons */
  .edit-btn {
    background-color: #ffc107 !important; /* Yellow */
    color: black !important;
    border: none;
  }
  
  .delete-btn {
    background-color: #dc3545 !important; /* Red */
    color: white !important;
    border: none;
  }
  
  /* Change Icon Colors */
  .pi {
    font-size: 1.2rem !important;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns search to the right */
    margin-bottom: 10px;
  }
  
  .search-container input {
    width: 250px; /* Set input width */
    margin-right: 8px;
    padding: 5px;
  }
  
  .search-btn {
    height: 36px;
  }
  
  .p-input-icon-left input {
   padding-left: 40px; /*Adjust padding to prevent overlap  */
    width: 100%;
  } 
  